#Team Igpay Atinlay Derek Chen, Tara Khanna, Oskar Mai
#IntroCS2 pd8
#HW23 -- Anslatintray Englishway intoway Igpay Atinlay
#2016-03-29

'''
Pig Latin Rules
1. If the word starts with a consonant or consonant sound, the letter or letters before the first vowel are moved to the end and an '-ay' is added at the end.
2. If the word starts with a vowel, a ‘-way' is added to the end.

Outline:
1. Create a function that differentiates vowels and consonants.
2. Create a function that puts the word in Pig Latin if…
	a. it starts with a vowel
b. it does NOT start with a vowel

Development Plan:
One person will code the helper function in finding the vowels.
Another person will type out the code for the pig latin part
The last person will help with both parts and edit the code and comments

Development Log:
2016-03-29 <> Oskar created the helper function to find vowels, helped to edit the code, and added comments.
2016-03-29 <> Derek typed the code for the pig latin and added comments.
2016-03-29 <> Tara typed the outline, development plan, rules, and helped edit code.
'''
def isVowel(ch):
#checks if the ch is equal to each ASCII value of the vowels(a,e,i,o,u)
    if ord(ch) == 65 or ord(ch) == 69 or ord(ch) == 73 or ord(ch) == 79 or ord(ch) == 85 or ord(ch) == 97 or ord(ch) == 101 or ord(ch) == 105 or ord(ch) == 111 or ord(ch) == 117:
        return True
    else:
        return False
print isVowel('A')# should yield True 
print isVowel('a')# should yield True
print isVowel('E')# should yield True
print isVowel('e')# should yield True
print isVowel('I')# should yield True
print isVowel('i')# should yield True
print isVowel('O')# should yield True
print isVowel('o')# should yield True
print isVowel('U')# should yield True
print isVowel('u')# should yield True
print isVowel('B')# should yield False

def pigLatin(word):
    pos = 0
    newword = ""
    back = ""
    if isVowel(word[0]) == True: #checks if the word starts with a vowel
        back = "w" #adds w because 'ay' is already added(rule #2)
    else:
        while isVowel(word[pos]) != True or pos + 1 > len(word): #continues until it hits a vowel or till it's done checking the string
            back = back + word[pos] #adding the consonants
            pos = pos + 1
    newword = newword + word[pos:] + back + "ay" #adding the string without consonants then all the removed letters and finally adding 'ay'
    return newword
print pigLatin('Translate')# should yield ranslateTray
print pigLatin('Pig')# should yield igPay
print pigLatin('Eight')# should yield Eightway


        
        
		
