#Derek Chen
#IntroCS2 pd8
#HW23 -- Anslatintray Englishway intoway Igpay Atinlay
#2016-03-29

'''
Pig Latin Rules
1. If the word starts with a consonant sound, the letters before the first vowel are moved to the end and 'ay' is added afterwards.
2. If the word starts with a vowel, add 'way' to the end.

Outline:

Development Plan:

Development Log:
'''
def isVowel(ch):
    if ord(ch) == 65 or ord(ch) == 69 or ord(ch) == 73 or ord(ch) == 79 or ord(ch) == 85 or ord(ch) == 97 or ord(ch) == 101 or ord(ch) == 105 or ord(ch) == 111 or ord(ch) == 117:
        return True
    else:
        return False
print isVowel('A')# should yield True 
print isVowel('a')# should yield True
print isVowel('E')# should yield True
print isVowel('e')# should yield True
print isVowel('I')# should yield True
print isVowel('i')# should yield True
print isVowel('O')# should yield True
print isVowel('o')# should yield True
print isVowel('U')# should yield True
print isVowel('u')# should yield True
print isVowel('B')# should yield False

def pigLatin(word):
    pos = 0
    newword = ""
    back = ""
    if isVowel(word[pos]) == False or pos > len(word):
        back = back + word[pos]
        pos = pos + 1
    else:
        back = "w"
    if pos > len(word):
        newword = newword + word[:pos] + back + "ay"
    
    newword = newword + word[pos:] + back + "ay"
    return newword
print pigLatin('Translate')# should yield ranslateTay
print pigLatin('Pig')# should yield igPay
print pigLatin('Eight')# should yield Eightway


        
        
		
